VITE_WALLET_CONNECT_PROJECT_ID=52efa8200c8333d96711ca25f94af40e
VITE_CHAIN_ID=23295
VITE_ACCOUNTING_CONTRACT_ADDRESS=0xAb32613F406e0017B5d7D8dd7fCb6d2503A2e40c
VITE_FLEXVAULTS_API_URL=https://flexvaults-staging.rofl.build
VITE_FLEXVAULTS_CLIENT_ID=flexvaults-ui
VITE_SWAP_API_URL=http://localhost:8001
